h1 {
    color: blue;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

body{
    height: 100wh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
}

h2{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

div{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}